:root{
  --color1: #fbe4f4;
  --color2: #e1c8ff;
  --color3: #FFDAB9;
  --color4: #e6f4ff;
  --color5: #fdf39c;
  --color6: #031320;
  --color7: #faf2f9;
  --color8: #fbb272;
  --color9: #9cffba;
  --color10: #ff6969;
}
