:root{
  --color1: #fbe4f4;
  --color2: #e1c8ff;
  --color3: #fbfdfe;
  --color4: #e6f4ff;
  --color5: #fdf39c;
  --color6: #031320;
  --color7: #faf2f9;
  --color8: #FFDAB9;
  --color9: #583a73;
  --color10: #af5f97;
  --color11: #674631;
}


