.mainContainer{
    padding: 5% 10%;
    background-color: #fbfdfe;
}
.projectsTitle{
    margin: 2rem 0;
    text-align: center;
}
.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
